<main class="main">
  <div class="content">
    <form novalidate #form="ngForm">
      <mat-card class="card-content">
        <mat-card-content>
          <mat-card-title>Please enter your name and pick the Sectors you are currently involved in.</mat-card-title>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Name:</mat-card-title>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="personName" [name]="'person-name'">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Sectors:</mat-card-title>
          <ng-container *ngIf="dataLoaded">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <button mat-icon-button disabled></button>
                <mat-checkbox class="checklist-leaf-node"
                              [checked]="checklistSelection.isSelected(node)"
                              (change)="checklistSelection.toggle(node);">{{node.item}}</mat-checkbox>
              </mat-tree-node>

              <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-checkbox [checked]="descendantsAllSelected(node)"
                              [indeterminate]="descendantsPartiallySelected(node)"
                              (change)="sectorSelectionToggle(node)">{{node.item}}</mat-checkbox>
              </mat-tree-node>
            </mat-tree>
          </ng-container>
        </mat-card-content>
        <mat-card-content>
          <mat-checkbox class="terms-of-service-checkbox"
                        [(ngModel)]="isAcceptTermsOfService"
                        [name]="'tos-checkbox'"
          >
            Agree to terms
          </mat-checkbox>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button color="primary" type="submit" value="Save" class="save-button"
                  (click)="saveOrUpdatePersonWorkSectorsInfo()">Save
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</main>
